body{
    /*background-image: ('carlos/carlos.jpg'); /* Substitua pelo caminho da sua imagem */
    /*background-size: cover 0px; /* Ajusta o tamanho da imagem para cobrir todo o fundo */
    /*background-repeat: no-repeat; /* Impede a repetição da imagem */
    background: linear-gradient(to bottom, #ffcc00, #ff6600);/* Substitua pelas cores desejadas */
    font-family: Arial, sans-serif;
     background-color: #f2f2f2;
     color: #333;
}
nav {
    padding: 10px; /* Espaçamento interno */
}
nav ul{
    list-style: none; /* Remover marcadores de lista */
    margin: 0;
    padding: 0;
}/* Estilos para os itens da lista */
nav a{
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold; /* Negrito */
}
nav a:hover{
    color: black;
}
.pera{
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 1px;
    justify-content: center;
    text-decoration: none;
}
.manga{
    color: rgb(63, 70, 70);
    text-decoration: none;
   
}
.goiaba{
    color: rgb(31, 128, 128);
    text-decoration: none;
}
.manga:hover{
color: rgb(255, 0, 0);;
}
.goiaba:hover{
    color: rgb(255, 0, 43);
}
.frutas{
    display: flex;
    flex-direction: row;
    gap: 100px;
    border-bottom: 1px solid #000000;
    padding: 15px;
    justify-content: center;

}
.maca{
    color: white;
    text-decoration:none;
}
.banana{
    color: white;
    text-decoration:none;
    
}
.uva{
    color: white;
    text-decoration:none;
}
.maca:hover{
   color: black;
    
}
.banana:hover{
    color: black;
    
}
.uva:hover{
    color: black;
}