body{
    background: linear-gradient(to bottom, #ffcc00, #ff6600);/* Substitua pelas cores desejadas */
     background-color: #f2f2f24d;
     background-image: url(../img/background.img.jpg );
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     background-attachment: fixed;
}
nav ul{
    text-decoration: none; /* Remover marcadores de lista */
    margin: 0;
    padding: 0;
}
/*nav a{
    text-decoration: none;
    color: #f2f2f2;
}*/
nav a:hover{
    color: black;
}
/*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;*/
